h1{
    padding-top: 60px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  table, th, td {
    border: 1px solid #ddd;
  }

  th, td {
    padding: 10px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }

  .slot-form {
    margin-top: 20px;
  }
  .available {
    color: rgb(21, 161, 21);
    font-weight: bold;
  }
  
  .reserved {
    color: red;
    font-weight: bold;
  } 