<div class="container1"> 
  <h1>Hello Dr. {{ username }}</h1>
  <div class="notification">
    <i class="fa fa-bell" aria-hidden="true"></i>
</div>
  <div class="slot-form">
    <label for="date">Date:</label>
    <input type="date" id="date" [(ngModel)]="dateInput">

    <label for="time">Time:</label>
    <input type="time" id="time" [(ngModel)]="timeInput">

    <button (click)="addSlot()">Add Slot</button>
  </div>
  <h1>Your Slots</h1>
  <div class="forTable">
    <table id="slot-table">
      <thead>
        <tr>
          <th>Time</th>
          <th>Day</th>
          <th>State</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let slot of slots">
          <td>{{ slot.time | date:'hh:mm a':'UTC' }}</td>
          <td>{{ slot.time | date:'EEEE, MMM d, y':'UTC' }}</td>
          <td [ngClass]="{'available': slot.isAvailable, 'reserved': !slot.isAvailable}">
            <div *ngIf="slot.isAvailable; else reservedMessage">
              <p>Not Reserved</p>
            </div>
            <ng-template #reservedMessage>
              <p>Reserved</p>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
