<header>

    <a href="#" class="logo" > Whitey Care</a>
    <div *ngIf="menuType==='default'"class="default">
        <ul class="navlist">
            <li><a href="signup">Signup</a></li>
            <li><a href="signin">Login</a></li>


        </ul>
    </div>
    <div *ngIf="menuType==='doctor'" class="doctor">
        <ul class="navlist">
          <li><a href="signup">Logout</a></li>
        </ul>
      </div>
      <div *ngIf="menuType==='patient'" class="patient">
        <ul class="navlist">
          <li><a href="">Logout</a></li>
        </ul>
      </div>
      <div id="menu-icon" (click)="toggleMenu()">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </div>
      
      
      

 <!-- <div class="bx bx-menu" id="menau-icon"></div> -->
   
</header>