/* Your component's CSS or SCSS file */

.buttons {
  display: flex;
  justify-content: center;
  padding-left: 117px;
}
.whole
{
  border-radius: 100px;
}
.custom-blue-button {
  background-color: green;
  color: white;
  margin: 0 8px; 
  padding: 9px 20px;
  border-radius: 20px; 
  border-color: transparent;
}
.custom-blue-button2 {
  background-color: red;
  color: white;
  margin: 0 8px; 
  padding: 9px 20px; 
  border-radius: 20px; 
  border-color: transparent;
}

.custom-blue-button:hover {
  background-color: darkblue;
}
.custom-blue-button2:hover {
  background-color: darkblue;
}
